# Terraform

.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variable files

*.tfvars
*.tfvars.json

# Sensitive files

*.pem
*.key

# macOS

.DS_Store

# VS Code

.vscode/

# Terraform lock file

.terraform.lock.hcl
